---
import DefaultBody from '../layouts/DefaultBody.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import ColorChanger from '../components/ColorChanger.astro';
---

<DefaultBody title="millibands" description="Rapper and Producer from Tacoma, WA!" keywords="millibands, carbon currency,hip-hop, rap duo, music, fresh beats, lyrical fire, underground rap, new album, preston clavesilla, millibands, miles" author="Millibands" figure="true">

<div id="page">
	<Navbar />
	<div id="main-content">
		<main id="index" class="mt-3 container">
      <div id="general-info">
        <h1 class="h2 fw-bold display-5">Miles/millibands</h2>
        <div class="d-flex gap-3 my-2">
          <a class="link-footer" href="https://soundcloud.com/millibands-289791015?ref=clipboard&p=i&c=1&si=CB29A8B3E2DC497BB780742FB000B494" aria-label="SoundCloud" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SoundCloud">
            <i class="ci fs-4 ci-soundcloud"></i>
          </a>
          <a class="link-footer" href="https://youtube.com/@millibands209?si=n1OrYnIwC35o2_oT" aria-label="YouTube" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="YouTube">
            <i class="bi fs-4 bi-youtube"></i>
          </a>
          <a class="link-footer" href="https://www.instagram.com/millibands_" aria-label="Instagram" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Instagram">
            <i class="bi fs-4 bi-instagram"></i>
          </a>
          <a class="link-footer" href="https://www.tiktok.com/@millibands09?_t=ZT-8wDzdp3QynW&_r=1" aria-label="TikTok" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="TikTok">
            <i class="bi fs-4 bi-tiktok"></i>
          </a>        
        </div>
        <div id="article" class="h-100">
          <figure class="figure ms-md-3 mt-0 mb-2 float-md-end">
            <img src="/media/images/group.png" alt="Figure Image" width="50%" class="rounded-1 mx-md-auto me-md-0 ms-md-auto" style="max-width: 375px;display: block;"> 
            <figcaption class="figure-caption mt-2 text-wrap text-md-end me-md-auto">Profile Picture from <a href="https://www.instagram.com/millibands_/">Instagram</a>.</figcaption> 
          </figure>
          <p>Hey, I'm Miles! I'm a songwriter and producer from Tacoma, WA, and part of the rap group <a href="https://carboncurrency.netlify.app">Carbon Currency</a>! I share my creative journey as <a href="https://www.instagram.com/millibands_/" target="_blank">millibands_</a> on Instagram. I have a public Instagram account at <a href="https://www.instagram.com/millibands_official/" target="_blank">millibands_official</a>, where I showcase my music and personal style, along with my <a href="https://soundcloud.com/millibands-289791015" target="_blank">SoundCloud</a>. My Christian faith is important to me, which is why I reference <a href="https://www.biblegateway.com/passage/?search=Romans+12%3A2&version=NIV" target="_blank">Romans 12:2</a> as my favorite Bible quote. Music is my passion—I'm always looking to grow, connect, and make an impact in the industry.</p>

          <p>Follow me on <a href="https://www.tiktok.com/@millibands09" target="_blank">TikTok</a> too!</p>        </div>
      </div>
    </main>
		<Footer />
	</div>
  <div id="fixelements">
    <ColorChanger />
    <BackToTop />
  </div>
</div>
</DefaultBody>
