---

---

<style>
  .fs-4 {
    font-size: 1.5rem !important;
  }
</style>

<a href="#main-content" class="visually-hidden-focusable btn btn-primary position-fixed m-2 hero-filter" style="z-index: 2000;">Skip to main content</a>

<header class="main-navbar py-3 fixed-top">
  <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
    <div class="d-flex col-lg-3 justify-content-start">
      <a class="navbar-brand navbar-brand fw-bolder fs-4" href="/">
        Carbon Currency
      </a>
    </div>

    <ul class="nav col-12 col-lg-auto mt-2 mt-lg-0 mb-2 justify-content-center mb-lg-0 gap-4">
      <li><a href="/" class="nav-link p-0 rounded-2 link-body-emphasis text-decoration-underline link-offset-3">Home</a></li>
      <li><a href="/releases" class="nav-link p-0 rounded-2 link-body-emphasis text-decoration-underline link-offset-3">Releases</a></li>
    </ul>

    <div class="d-flex col-lg-3 justify-content-end">
      <div class="d-flex gap-3">
        <a class="link-footer" href="https://music.youtube.com/channel/UCkz45jsBpyQXa-RueoodE9A" aria-label="YouTube Music" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="YouTube Music">
          <i class="ci fs-4 ci-ytmusic"></i>
        </a>
        <a class="link-footer" href="https://open.spotify.com/artist/3M7KvpgpFy62aPAhJ68ZB7" aria-label="Spotify" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Spotify">
          <i class="bi fs-4 bi-spotify"></i>
        </a>
        <a class="link-footer" href="https://music.apple.com/us/artist/carbon-currency/1808200828" aria-label="Apple Music" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Apple Music">
          <i class="bi fs-4 bi-apple"></i>
        </a>
        <a class="link-footer" href="https://soundcloud.com/user-705361503" aria-label="SoundCloud" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SoundCloud">
          <i class="ci fs-4 ci-soundcloud"></i>
        </a>
        <a class="link-footer" href="https://www.bandlab.com/black__carbon" aria-label="BandLab" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="BandLab">
          <i class="ci fs-4 ci-bandlab"></i>
        </a>
        <div class="vr"></div>
        <a class="link-footer" href="https://www.youtube.com/@carboncurrency253" aria-label="YouTube" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="YouTube">
          <i class="bi fs-4 bi-youtube"></i>
        </a>
        <a class="link-footer" href="https://www.instagram.com/carbon_currency/" aria-label="Instagram" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Instagram">
          <i class="bi fs-4 bi-instagram"></i>
        </a>
        <a class="link-footer" href="https://www.tiktok.com/@carbon_currency" aria-label="TikTok" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="TikTok">
          <i class="bi fs-4 bi-tiktok"></i>
        </a>        
      </div>
      
    </div>
  </div>
</header>
